@{
    ViewBag.Title = "Home Page";
}

<header id="header">
    <div class="header-top">
    </div>
    <div class="container main-menu">
        <div class="row align-items-center justify-content-center d-flex">
            <img src="~/Template/taxi-master/img/karsturizmtaksi-logo.svg" style="width:200px; height:auto" alt="" title="" />
        </div>
    </div>
</header>
<section class="banner-area relative" style="background: url(../../Template/taxi-master/img/header-bg-2.jpg) center; background-size: cover; background-repeat: no-repeat; height: 100vh !important; display: flex; justify-content: center; align-items: center; width: 100%; " id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="text-center banner-content col-lg-6 col-md-6 ">
                <h3 style="color: #f9d700 !important">Hemen Tıkla, Bizi Ara!</h3>
                <h1>
                    ŞEHRİN HER YERİNDEN <br /> 7/24 TAKSİ
                </h1>
                <p class="pt-10 pb-10 text-white">
                </p>
                <a href="tel:+905437112653" class="primary-btn text-uppercase" style="font-size:20px">
                    <i class="fa-solid fa-phone mr-2"></i>
                    0 (543) 711 26 53
                </a>
            </div>
        </div>
    </div>
</section>
<section class="services-area pt-120 pb-120">
    <div class="container">
        <div class="row section-title">
            <h1>Müşterilerimize Sunduğumuz Bazı Popüler Tur Rotalarımız</h1>
            <p>%100 Müşteri memnuniyeti odaklı ekip arkadaşlarımızda beraber sizlerin unutulmaz anılar biriktirmenize olanak sağlıyoruz.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 single-service">
                <i class="lnr fa-solid fa-mountain" style="font-family: Fontawesome !important"></i>
                <a href="#"><h4>Ani Harabeleri</h4></a>
                <p>
                    Kars şehrinin güneydoğusunda, şehir merkezinden 42 kilometre uzaklıktaki Ocaklı Köyü sınırları içinde bulunan Ani Ören Yeri, yerleşim ve savunmaya çok elverişli topografyası nedeniyle tarih öncesi dönemlerden itibaren çeşitli kültürlere ev sahipliği yapmıştır.
                </p>
            </div>
            <div class="col-lg-4 single-service">
                <i class="lnr fa-solid fa-water hover" style="font-family: Fontawesome !important"></i>
                <a href="#"><h4>Çıldır Gölü</h4></a>
                <p>
                    Çıldır Gölü, Ardahan ve Kars il sınırları içerisinde kalan göl, 123 km2 alanı ile Doğu Anadolu Bölgesi'nin en büyük tatlı su ve en büyük ikinci göldür. Deniz seviyesinden 1959 metre yükseklikte bulunan gölün en derin noktası 42 metredir.
                </p>
            </div>
            <div class="col-lg-4 single-service">
                <i class="lnr fa-solid fa-person-skiing" style="font-family: Fontawesome !important"></i>
                <a href="#"><h4>Sarıkamış Kayak Merkezi</h4></a>
                <p>
                    Türkiye’de 1. derecede öncelikli 5 merkezden biri olan ve favori pistlerden Cibiltepe (Bayraktepe) Sarıçam ormanlarının arasında, mükemmel bir manzaraya sahip, toplamda 22.400 m’lik 3 etaplı pistlerden oluşmaktadır.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="home-calltoaction-area relative">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row align-items-center section-gap justify-content-center">
            <div class="col-lg-12 text-center">
                <h1>Kars Turizm Taksi 7/24 Hizmetinizde!</h1>
                <p style="font-size: 20px; font-weight: 500; line-height: 1.75em">
                    Kars Turizm Taksi olarak siz değerli müşterilerimize Taksi ve Turizm hizmetlerimizi 7/24 kesintisiz olarak sunmaktayız. <br /><br /> Bizimle irtibata geçebileceğiniz telefon numaramız: <br /> <span style="font-size:25px">0 (543) 711 26 53</span> 
                </p>
            </div>
            <div class="col-lg-12 mt-5 text-center">
                <a href="tel:+905437112653" class="primary-btn">
                    <i class="fa-solid fa-phone mr-2"></i>
                    Hemen Ara
                </a>
            </div>
        </div>
    </div>
</section>
