<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Template/taxi-master/img/karsturizmtaksi-logo.svg">
    <meta name="author" content="Pine Software">
    <meta name="title" content="Kars Turizm Taksi">
    <meta name="description" content="Hızlı ve güvenilir ulaşımın adresi Kars Turizm Taksi, müşterilerine 7/24 hizmet vermektedir. Popüler tur rotalarımız için iletişime geçebilirsiniz.">
    <meta name="keywords" content="Kars, Taksi, Turizm, Tur, Taşımacılık, Yolcu, Sarıkamış, Ani Harabeleri, Çıldır Gölü, Sarıkamış Kayak Merkezi, Susuz, Selim, Kağızman, Digor, Arpaçay, Akyaka, Merkez">
    <meta charset="UTF-8">
    <title>Kars Turizm Taksi</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6cded29786.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Template/taxi-master/css/linearicons.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/bootstrap.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/nice-select.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/animate.min.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Template/taxi-master/css/main.css">
</head>
<body>
    @RenderBody()
    <a href="https://wa.me/5437112653" class="float" style="position: fixed; width: 60px; height: 60px; bottom: 40px; left: 40px; background-color: #25d366; color: #FFF; border-radius: 50px; text-align: center; font-size: 30px; box-shadow: 2px 2px 3px #999; z-index: 100;" target="_blank">
        <i class="fa fa-whatsapp my-float" style="margin-top: 16px;"></i>
    </a>
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Hizmetlerimiz</h6>
                        <ul>
                            <li><a href="#">7/24 Taksi</a></li>
                            <li><a href="#">Turistik Turlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Popüler Tur Rotalarımız</h6>
                        <ul>
                            <li><a href="#">Ani Harabeleri</a></li>
                            <li><a href="#">Çıldır Gölü</a></li>
                            <li><a href="#">Sarıkamış Kayak Merkezi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h6>İletişim Kanallarımız</h6>
                        <div class="footer-social d-flex align-items-center">
                            <a href="https://wa.me/5437112653"><i class="fa fa-whatsapp" style="font-size: xx-large" aria-hidden="true"></i></a>
                            <a href="tel:+905437112653"><i class="fa fa-phone" style="font-size: xx-large" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <p class="mt-80 mx-auto footer-text col-lg-12">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Bu internet sitesi <a href="https://pinesoftware.net" target="_blank">Pine Software</a> tarafından yapılmıştır.
                </p>
            </div>
        </div>
        <img class="footer-bottom" src="~/Template/taxi-master/img/footer-bottom.png" alt="">
    </footer>
    <script src="~/Template/taxi-master/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Template/taxi-master/js/vendor/bootstrap.min.js"></script>
    <script src="~/Template/taxi-master/js/easing.min.js"></script>
    <script src="~/Template/taxi-master/js/hoverIntent.js"></script>
    <script src="~/Template/taxi-master/js/superfish.min.js"></script>
    <script src="~/Template/taxi-master/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Template/taxi-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/taxi-master/js/jquery-ui.js"></script>
    <script src="~/Template/taxi-master/js/jquery.nice-select.min.js"></script>
    <script src="~/Template/taxi-master/js/main.js"></script>
</body>
</html>